body {
    display:grid;
    grid-template:
    "header" 100px
    "image" 40vw
    "main" auto
    "footer" 400px; 
}

.header {
    grid-area: header;
}

.hero-image {
    grid-area:image;
    overflow: hidden;
}


.main {
    grid-area: main;
  
}


.footer {
    grid-area:footer;
}

