body {
    height:100%;
    width:100%;
    display:grid;
    grid-template:
    "header" 100px
    "image" 40vw
    "main" auto
    "footer" auto /
     minmax(auto, 100%); 
}

.header {
    grid-area: header;
}

.hero-image {
    grid-area:image;
    overflow: hidden;
}


.main {
    grid-area: main;
   
}


.footer {
    grid-area:footer;
}

